.home {
  width: 100vw;
  height: 100vh;
  background-color: #02081f;
  width: 100vw;
  display: flex;
  height: 100vh;
  justify-content: flex-start;
}
.homeImage {
  margin-top: 150px;
  margin-right: 150px;
}
.inner_container {
  height: 50vh;
  width: 150vh;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.placeInputField {
  display: flex;
}
.homeheading {
  color: white;
  margin-left: 5%;
  margin-top: 8%;
  font-size: 40px;
}
.homeheading_second {
  color: white;
  margin-top: 2%;
  margin-left: 5%;
  font-size: 80px;
}
.meanCom {
  display: flex;
  flex-direction: column;
}
.inputField {
  height: 8vh;
  width: 300px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background-color: white;
}

.searchButton {
  height: 8vh;
  width: 200px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 15px;
}

.headingAdmin {
  margin-left: 45%;
  color: white;
  font-size: 40px;
}

.AdminCheckUser {
  height: 200px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightgray;
  margin-top: 5%;
  margin-left: 35%;
}
.AdminHome {
  display: flex;
  flex-direction: row;
}
.inner_text {
  color: black;
  font-size: 30px;
  margin-top: 40px;
}
.totalNo {
  color: black;
  font-size: 40px;
  margin-top: 10px;
}

.AdminCheckTotalPublish {
  height: 200px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightgray;
  margin-top: 5%;
  margin-left: 10%;
}

.inner_text_publish {
  color: black;
  font-size: 25px;
  margin-top: 40px;
}

.AdminCheckTotelRequest {
  height: 200px;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightgray;
  margin-top: 5%;
  margin-left: 52%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
