.homeImage {
  width: 100vw;
  height: 40vh;
}
.overlayText {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.home_maintext {
  color: white;
  font-size: 35px;
}
.search_main_com {
  display: flex;
  justify-content: center;
}
.forminputfield {
  display: flex;
}

.searchButton {
  font-size: 20px;
  color: white;
  font-weight: bold;
  background-color: #00aff5;
  width: 25vh;
  border-radius: 0px 10px 10px 0px;
}

.main_text_com {
  display: flex;
  justify-content: center;
}
.out_com {
  margin-left: 30px;
  margin-top: 50px;
}
.text_heading {
  font-weight: bold;
  margin: 5px;
  color: #054652;
}
.text_inner {
  font-weight: 600;
  margin: 10px;
  color: #6f8d90;
}
.headingAdmin {
  margin-left: 45%;
  color: white;
  font-size: 40px;
}
.button_admin {
  color: #054652;
  font-weight: bold;
  font-size: 18px;
  width: 30vh;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.img_admin {
  margin-right: 10px;
}
.text_admin {
  margin-right: 10px;
}
.swap_com {
  display: flex;
}
.bg_carpolling {
  margin-left: 23%;
  margin-top: 20px;
}
.swap_textHeading {
  font-weight: bold;
  color: #054652;
  font-size: 30px;
  margin-top: 18%;
  margin-left: 20px;
}
.swap_text {
  font-weight: 600;
  color: gray;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}
