.main_container {
  background-color: #e7f7fe;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.text_publishNewRide {
  color: #054652;
  text-align: center;
  margin-top: 8%;
  font-weight: 600;
  font-size: 30px;
}
.middle_com {
  display: flex;
  margin-top: 10px;
}
.form_comp {
  height: 350px;
  width: 300px;
  background-color: white;
  margin-top: 2%;
  margin-left: 20%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.addVehicleButton {
  background-color: #02081f;
  color: white;
  margin-left: 20px;
  height: 30px;
  width: 10vh;
  border: none;
  border-radius: 5px;
}

.formbutton {
  color: white;
  background-color: #02081f;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  height: 50px;
  font-size: 18px;
}

.input_label {
  color: #02081f;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.text {
  font-size: 30px;
  font-weight: bold;
  margin-left: 60%;
  margin-top: 30px;
}

.not_Found {
  font-size: 20px;
  font-weight: 600;
  color: rgb(142, 137, 137);
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30%;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}
.otcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.outerContainer {
  width: 70%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
}
.no_plate {
  font-weight: 600;
  color: #02081f;
  font-size: 12px;
  margin-left: 10px;
}
.modelname_text {
  font-weight: 600;
  color: #02081f;
  font-size: 12px;
  margin-right: 10px;
}

.car_img {
  margin-left: 50px;
}

.bt_text {
  color: #054652;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 80px;
  -moz-osx-font-smoothing: grayscale;
}
