.mainconatiner {
  background-color: #e7f7fe;
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
}
.text_publishNewRide {
  color: #054652;
  text-align: center;
  margin-top: 5%;
  font-weight: 600;
  font-size: 40px;
}
.car_img {
  margin-left: 50%;
  margin-top: 5%;
}

.signupInnerContainer {
  height: 55vh;
  width: 50vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  margin-top: 15%;
  margin-left: 20%;
}

.signupInsideItem {
  display: flex;
  flex-direction: column;
}

.headingSignUp {
  text-align: center;
}
.inputField {
  padding: 8px;
  height: 20px;
  width: 30vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8px;
  outline: none;
  margin-top: 10px;
}
.label_text {
  font-size: 18px;
}
.signUpLink {
  color: black;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}
.bold_text {
  font-weight: bold;
}
.button_SignUp {
  height: 40px;
  width: 20vh;
  margin-top: 20px;
  margin-left: 18%;
  background-color: #054652;
  border: none;
  border-radius: 5px;
  color: white;
}

.bold_text {
  font-weight: bold;
}
.bt_text {
  color: #054652;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  -moz-osx-font-smoothing: grayscale;
}
