.sortCom {
  margin-left: 60%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 10px;
}
.sortText {
  font-size: 20px;
  font-weight: bold;
}
.sort {
  margin-right: 5px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}
.notFound_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.not_Found {
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  background-color: #e7f7fe;
}
.notFound_text {
  color: #054652;
  text-align: center;
  margin-top: 50px;
}
.inner_notfound {
  display: flex;
  justify-content: center;
}
.notFound_button {
  background-color: #02081f;
  border: none;
  border-radius: 5px;
  color: white;
  width: 20vh;
  height: 40px;
  font-size: 16px;
  margin-top: 40px;
}
.bt_text {
  color: #054652;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-weight: bold;
  -moz-osx-font-smoothing: grayscale;
}
.otcenter {
  display: flex;
  justify-content: center;
}
.outerContainer {
  width: 50%;
  height: 180px;
  display: grid;
  grid-template-columns: 80% 20%;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
}
.col20 {
  padding: 5vh 5vh;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #02081f;
  justify-content: space-between;
}

.col80 .row:nth-child(1) {
  display: flex;
}
.col80 .row:nth-child(2) {
  display: flex;
}
.date {
  margin-left: 50%;
  margin-top: 10px;
  font-weight: 600;
  color: #02081f;
}

.statusText {
  font-weight: 600;
  color: #02081f;
  margin-left: 45%;
  margin-top: 30px;
  margin-right: 10px;
}
.inneruptime {
  margin-top: 18px;
  margin-left: 15px;
  font-weight: 600;
  color: #02081f;
}

.innerdowntime {
  margin-top: 35px;
  margin-left: 15px;
  font-weight: 600;
  color: #02081f;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 15px;
  border-style: solid;
  border-color: #02081f;
  border-width: 2px;
  margin-top: 22px;
  margin-left: 20px;
  margin-right: 10px;
}
.box2 {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 15px;
  border-style: solid;
  border-color: #02081f;
  border-width: 2px;
  margin-left: 20px;
  margin-right: 10px;
}

.line {
  height: 50px;
  background-color: #02081f;
  width: 3px;
  margin-left: 10px;
}
.passengerCircle {
  height: 10px;
  width: 10px;
  background-color: lightgray;
  border-radius: 15px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  margin-left: 4px;
  margin-top: 5px;
}

.innerupplace {
  margin-top: 15px;
  font-weight: 600;
  color: #02081f;
}
.innerdownplace {
  font-weight: 600;
  color: #02081f;
}
.passengerrow {
  display: flex;
  font-weight: 600;
  color: #02081f;
}
.loccol {
  display: grid;
  grid-template-rows: 75% 25%;
}
.fullAddress {
  font-weight: 400;
  font-size: 12px;
}
