.mainconatiner {
  background-color: #e7f7fe;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.text_publishNewRide {
  color: #054652;
  text-align: center;
  margin-top: 5%;
  font-weight: 600;
  font-size: 40px;
}
.car_img {
  margin-left: 50%;
  margin-top: 5%;
}
.loginInnerContainer {
  height: 50vh;
  width: 50vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  margin-top: 15%;
  margin-left: 20%;
}

.insideContainLogin {
  display: flex;
  flex-direction: column;
}

.headingSignIn {
  text-align: center;
}
.inputField {
  padding: 8px;
  height: 20px;
  width: 30vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8px;
  outline: none;
  margin-top: 10px;
}
.label_text {
  font-size: 18px;
}
.button_SignIn {
  height: 40px;
  width: 20vh;
  margin-top: 20px;
  margin-left: 18%;
  background-color: #054652;
  border: none;
  border-radius: 5px;
  color: white;
}
.forgetPassword {
  color: #054652;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}
.signupLink {
  color: #054652;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}
.bold_text {
  font-weight: bold;
}
.bt_text {
  color: #054652;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  -moz-osx-font-smoothing: grayscale;
}
