.mainconatiner {
  background-color: darkslategrey;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loginInnerContainer {
  height: 50vh;
  width: 50vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  position: absolute;
  margin-top: 10%;
}

.insideContainLogin {
  display: flex;
  flex-direction: column;
}

.headingSignIn {
  text-align: center;
}
.inputField {
  padding: 8px;
  height: 20px;
  width: 30vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8px;
  outline: none;
  margin-top: 10px;
}
.label_text {
  font-size: 18px;
}
.button_SignIn {
  height: 30px;
  width: 20vh;
  margin-top: 20px;
  margin-left: 18%;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
}
.forgetPassword {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}
.signupLink {
  color: black;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}
.bold_text {
  font-weight: bold;
}
