.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.main_container {
  height: 400px;
  width: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading_changePassword {
  font-weight: 600;
  color: darkslategrey;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.mustContain {
  font-weight: 600;
  font-size: 12px;
  color: rgb(97, 87, 87);
  margin-left: 30px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.changePasswordBtn {
  background-color: darkslategrey;
  border: none;
  border-radius: 5px;
  color: white;
  width: 20vh;
  height: 40px;
  font-size: 16px;
}
.strong {
  color: green;
}
.week {
  color: red;
}
