.ChatBox-container {
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 10vh 60vh 10vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 42%;
}

.chat-header {
  display: flex;
  flex-direction: column;
  background-color: #02081f;
  border-radius: 5px 5px 0px 0px;
}

.linkStyle {
  color: #0077ff;
  text-decoration: underline;
  cursor: pointer;
}

.follower {
  display: flex;
  justify-content: space-between;
}

.header_profile_name {
  display: flex;
}

.followerImage {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 30px;
  margin-top: 10px;
}

.name {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 25px;
}

.closeIconStyle {
  margin-top: 1.5rem;
  margin-right: 2rem;
  color: white;
}

.message_com {
  display: contents;
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  overflow: scroll;
  background-color: black;
  background-image: url("../assert/blackchatbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.message {
  background: #414649;
  color: white;
  padding: 0.7rem;
  border-radius: 1rem 1rem 1rem 0;
  max-width: 28rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message > span:nth-child(2) {
  font-size: 0.7rem;
  align-self: end;
}

.own {
  align-self: flex-end;
  border-radius: 1rem 1rem 0 1rem;
  background: #075e54;
}

.chat-sender {
  background: #02081f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 0px 0px 5px 5px;
  align-self: end;
}

.chat-sender > input {
  height: 70%;
  background-color: rgb(236, 236, 236);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
}

.chat-sender > div:nth-of-type(1) {
  background: rgb(233, 233, 233);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.chat-sender > div {
  height: 70%;
}

.send_Button {
  background-color: green;
  border: none;
  border-radius: 10px;
  color: white;
  width: 10vh;
  height: 35px;
  font-size: 16px;
}
