.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  z-index: 1000; 
}

.navbar-brand {
  margin-right: 20px;
  margin-left: 15%;
  flex: 1; 
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin-right: 25%; 
}

.nav-item {
  margin-right: 20px;
  position: relative;
}

.navLink {
  color: gray;
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  color: black;
  font-weight: bold;
}

.active::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background-color: #02081f;
  border-radius: 30%;
  top: 50%;
  transform: translateY(-50%);
  left: -2px;
}

.profile-circle {
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  margin-right: 20px;
  flex: 0 0 auto; 
}

.profile-circle img {
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap; 
  }

  .navbar-brand {
    flex: 1 100%; 
    margin-left: 0; 
  }

  .navbar-nav {
    margin-left: 0;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    text-align: center; 
  }

  .nav-item {
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}


